/node_modules
/public/hot
/vendor
/public/assets/admin/img/car-gallery
/public/storage
/storage/*.key
/dealer_portal
/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
listit-dev
/.idea